[submodule "Dependencies/EntityComponentSystem"]
	path = Dependencies/EntityComponentSystem
	url = https://github.com/FinleyConway/EntityComponentSystem.git
[submodule "Dependencies/box2d"]
	path = Dependencies/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
